.price__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin: 0;
    padding: 0;

    @include vp-1024 {
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
}

.price__item {
    background-color: $color-default-white;
    padding: 16px;
    color: $color-default-black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include vp-1024 {
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }
}

.price__title-number {
    white-space: nowrap;
    text-align: center;
    font-weight: 700 !important;

    @each $property, $value in $font-decoration-2 {
        #{$property}: $value;
    }

    @include vp-1024 {
        @each $property, $value in $font-decoration-2-desktop {
            #{$property}: $value;
        }
    }
}

.price__title {
    text-align: center;
    margin: 8px 0;
    @each $property, $value in $font-description {
        #{$property}: $value;
    }
    line-height: 20px;

    @include vp-1024 {
        text-align: left;
    }
    
}

.price__img {
    filter: brightness(80%);
    margin: 16px 0;

    width: 100%;
    height: 252px;

    @include vp-1024 {
        height: 299px;
    }

    img {
        width: 100%;
        object-fit: cover;
        height: 252px;

        @include vp-1024 {
            height: 299px;
        }
    }
}

.price__text {
    margin: 10px 0;
    text-align: center;
    max-width: 280px;
}

.price__value-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin: 16px 0;

    @each $property, $value in $font-header-2 {
        #{$property}: $value;
    }
}

.price__value-item {
    text-align: center;
}

.price__link {
    border-radius: 4px;
    margin-top: 16px;
    padding: 12px;
    color: $color-default-white;
    border: 1px solid $color-default-white;
    background-color: $color-default-black;
    width: 100%;
    max-width: 445px;

    &:hover,
    &:focus,
    &:active {
        opacity: 60%;
        transition: 0.3s;
    }

    @each $property, $value in $font-button {
        #{$property}: $value;
    }

    text-align: center;
    transition: 0.3s;
}