.container {
  width: 100%;
  max-width: 1347px;
  margin: 0 auto;
  padding: 0 22px;

  @include vp-768 {
    padding: 0 80px;
  }
  @include vp-1280 {
    padding: 0 80px;
  }

}

.container--no-pading {
  padding: 0;

  @include vp-768 {
    width: 100%;
  max-width: 1347px;
    padding: 0 80px;
  }
  @include vp-1280 {
    padding: 0 80px;
  }
}
