.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.content {
  padding: 30px 0;

  @include vp-768 {
    padding: 60px 0;
  }

  color: $color-default-black;
}

.content__title-wrapper {
  padding-bottom: 12px;
  border-bottom: 1px solid $color-default-black;

  @include vp-768 {
    padding-bottom: 18px;
  }

  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 20px;

  @include vp-768 {
    margin-bottom: 40px;
  }
}

.dark .content__title-wrapper {
  border-bottom: 1px solid $color-default-white;
  margin-bottom: 20px;

  @include vp-768 {
    margin-bottom: 40px;
  }
}

.content__title-number {
  @each $property, $value in $font-decoration {
    #{$property}: $value;
  }

  @include vp-768 {
    @each $property, $value in $font-decoration-desktop {
      #{$property}: $value;
    }
  }
}

.content__title {
  margin: 0;

  @each $property, $value in $font-decoration {
    #{$property}: $value;
  }

  @include vp-768 {
    @each $property, $value in $font-decoration-desktop {
      #{$property}: $value;
    }
  }
}

.dark {
  background-color: $color-green;
  color: $color-default-white;
}

.hero.content {
  padding: 0;

  @include vp-768 {
    padding: 60px 0;
  }
}

.simple-text {
  @each $property, $value in $font-text {
    #{$property}: $value;
}

@include vp-768 {
  font-size: 20px;
  line-height: 32px,
}
}
html {
  scroll-behavior: smooth;
}

.error-page {
  margin-top: 50px !important;
  min-height: 50vh;
  color: black !important;

  .hero-content__title, .hero-content__text {
    color: black !important;
  }

  .hero-content__button {
    background-color: black;
    margin: 20px 0;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.7);
      color: white !important;
    }
  }
}